# do not commit the values in these files
.env

# redundant vs code folder not needed for this project
.vscode

# remove default data that does not add any value
default\ data/course_tag.csv
default\ data/course.csv
default\ data/degree_course.csv
default\ data/degree_type.csv
default\ data/tag.csv